<!DOCTYPE html>
<html>
<head>
	<title>WebEdit</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="style.css" />
	<script src="marked.js" type="text/javascript"></script>
</head>
<body>

<div id="main">
	<h1>WebEdit</h1>
	<form action="save.cgi" method="post" enctype="multipart/form-data">
		<textarea id="editor" onkeyup="view(this.value)">
__MD_SRC__
</textarea>
	<div id="viewer"></div>
	<textarea id="source"></textarea>
	<input type="submit" />
	</form>
</div>

<script>
function view(code) {
	var html = marked(code);
	document.getElementById("viewer").innerHTML = html;
	document.getElementById("source").value = html;
}

view(document.getElementById("editor").value);
</script>
</body>
</html>
