body {
	max-width: 20cm;
	margin: auto;
	padding: 1em;
	display: flex;
}

main {
	float: left;
	background-color: #eeffee;
	width: 70%;
}

aside {
	float: left;
	background-color: #ffeeee;
}

hr {
	clear: both;
}

aside a {
	display: block;
}
