body {
	max-width: 20cm;
	margin: auto;
	padding: 1em;
	display: flex;

	background-color: black;
	color: white;
}

main {
	float: left;
	max-width: 20cm;
}

aside {
	margin-right: 1em;
	float: left;
}

hr {
	clear: both;
}

a {
	color: white;
}

aside a {
	display: block;
}
